.container {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  /* width: calc(var(--vw, 1vw) * 100);; */
  /* width: 100%; */
  height: calc(var(--vh, 1vh) * 100);
}

.Box {
  position: absolute;
  background-color: #2C2C2C;

  z-index: 999;
}

#left {
  top: 0;
  left: 0px;
  width: 10.2%;
  height: 100%;
}

#top {
  top: 0;
  width: 100%;
  height: 75px;
}

#right {
  top: 0;
  right: 0;
  width: 10.2%;
  height: 100%;
}

#bottom {
  bottom: 0;
  width: 100%;
  height: 9%;
}

.sideRocket {
  position: absolute;
  bottom: 125px;
  right: 0px;
  transform: rotate(-25deg);
  z-index: 999;
  width: 90px;
}

.sideStar {
  position: absolute;
  top: 250px;
  left: 15px;
  transform: rotate(25deg);
  z-index: 999;
  width: 38px;
}

/* 글자 */
#simple_arc {
  display: block;
  width:306px;
  height:305px;
}

#simple_arc>span[class^=w]:nth-of-type(n+0){
  display:block;
  position:absolute;
    -moz-transform-origin:50% 100%;
    -webkit-transform-origin:50% 100%;
    -o-transform-origin:50% 100%;
    -ms-transform-origin:50% 100%;
    transform-origin:50% 100%;
  }

#simple_arc span{
  font-family:'Viga';
  font-size:38px;
  font-weight:regular;
  font-style:normal;
            line-height:0.65;
  white-space:pre;
  overflow:visible;
  padding:0px;
}

/* #simple_arc .w0 {
          -moz-transform: rotate(-1.14rad);
          -webkit-transform: rotate(-1.14rad);
          -o-transform: rotate(-1.14rad);
          -ms-transform: rotate(-1.14rad);
          transform: rotate(-1.14rad);
            width: 21px;
  height: 24px;
  left: 42.7px;
  top: 93.95px;
} */