.container {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;

  /* height: calc(var(--vh, 1vh) * 100); */
  /* width: calc(var(--vw, 1vw) * 100); */
  width: 96%;
  height: 96%;

  border: 3px dotted red;
}

.mypos {
  z-index: 999;
  position: absolute;
  bottom: 7%;
  right: 7%;
  
  width: 58px;
  height: 58px;

  border: 0;
  background-color: #051423;
  border-radius: 100%;
  box-shadow: 0px 0px 10px #8B90F7;
}

.message {
  z-index: 1000;
  position: absolute;
  top: 3%;
  left: 40%;

  background-color: transparent;
  color: #8B90F7;
  font-weight: 750;
  font-size: 16px;

  margin: 0 0 5px 7px;
}

.user {
  position: absolute;
  top: 50px;
  left: 30px;
  /* width: 200px;
  height: 200px; */
  /* border: 1px dotted red; */
  /* background-color: red; */
  z-index: 999;
}

.draggable {
  position: absolute;
  top: 19%;
  right: 14%;
  width: 180px;
  /* height: 58px; */
  border: 1px dotted red;
  background-color: transparent;
  background-color: #051423;
  border-radius: 14px;
  box-shadow: 0px 0px 10px #8B90F7;
  z-index: 999;

  display: flex;
}

.draggableText {
  color: #8B90F7;
  font-weight: 700;
  margin-left: 5px;
}

.refreshUser {
  position: absolute;
  top: 24%;
  right: 14%;
  width: 145px;
  /* height: 58px; */
  border: 1px dotted red;
  background-color: transparent;
  background-color: #051423;
  border-radius: 14px;
  box-shadow: 0px 0px 10px #8B90F7;
  z-index: 999;

  display: flex;
}

.refreshUserText {
  color: #8B90F7;
  font-weight: 700;
  margin-left: 5px;
}